

th {

	color:white;
	background-color: #56cf90;
	font-size:24px;
	height:43px;


}
thead,tbody {
  	max-width:540px; 

}

table {

   box-shadow: 4px 4px 8px 2px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
   width:1554px;
   height:1285px;


}
tbody {
	 background-color:white;
}

tr {

	height:48px;
	width:400px;
	
}



td:first-child {

	font-size:26px;
}

td:nth-child(2) {

	font-size:26px;
	border-right:none;
	width:500px; 

}


td:nth-child(3) {

	font-size:26px;
	width:500px;
	
}

th {

	text-align: justify;
	
}


th:nth-child(2) {

	border-right:none;
}

th:nth-child(3) {

	border-right:none;
}



table {
	display:block;
}




.wrapper{
  height:1250px; 
  width:100%; 
   	overflow-x:auto;
	overflow-y:hidden;
  white-space:nowrap;
  margin:0 auto;
  margin-bottom:150px;
  text-align: center;
  
}
.content {
  display:inline-block;
  margin:0 auto;
}



// @media only screen and (max-width: 480px) {

//    .content {

// 	height:850px;
// 	overflow-x:auto;
// 	overflow-y:hidden;
// 	width:200px;
//   	margin: 0 auto;
// 	font-size: 14px;
	
// }

// }
