.registerimg {

    width: 100%;
    background-image: url('assets/images/imageedit.jpg');
    background-size: cover;
    
}	


.assistlogo {
	width:50px;
	float:left;
	position:fixed;
	
	margin:-7px;
    z-index:1000; //change your number as per elements lies on your page.
    max-width: 150px;
}

.imgmenu
{

	width:80px;
	margin-top:25px;
	height:40px;
	padding-left:10px;
	position:fixed;
	position:relative;

	
}


.addlogo
{
	height:50px;
	position:fixed;
	  z-index:1000; //change your number as per elements lies on your page.
    max-width: 350px;
    padding-left: 76px;
}