footer {
   
    left: 0;
    bottom: 0px;
    height: 75px;
    background: black;
    width: 100%;
    position:fixed;


}



.copyright {
	color: white;
	font-family:"Open Sans",sans-serif;
	font-weight: bold;
	margin-top:18px;
	font-size:22px;
	text-align: center;
}