
.button--state-success {	
	height:85px;
	width:395px;
	border-radius:9px;
	color: #FFF;
	background: #606c88;
	font-size:23px;
	border-color: #4A993E;

}

.order__button {
	width:264px;
}

.form__button {
	height:85px;
	width:395px;
	border-radius:9px;
	color: #FFF;
	background:#606c88;
	font-size:23px;
	border-color: #4A993E;
	width:100%;

}

.viewinput {
	text-align:center;
}