.menu {
	width:100%;
	max-width:100%;
	height:100px;
	
background: rgb(167,207,223); /* Old browsers */
background: -moz-linear-gradient(left,  rgba(167,207,223,1) 0%, rgba(35,83,138,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left,  rgba(167,207,223,1) 0%,rgba(35,83,138,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right,  rgba(167,207,223,1) 0%,rgba(35,83,138,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a7cfdf', endColorstr='#23538a',GradientType=1 ); /* IE6-9 */

}

.accountwelcome {
    color:white;
    font-size:22px;
    width:100px;
    white-space: nowrap;
}

.imageacc {
	width:75px;
	height:30px;	
}

.usermenu {
	width:400px;
}

