body {
   
    margin: 0;
    padding: 0;
    position:relative;
}


.alignment {
	text-align:left;

	padding-top:2px;

}

.error{
	display: none;
	margin-left: 10px;
}		

.error_show{
	color: red;
	margin-left: 10px;
}

input.invalid, textarea.invalid{
	border: 4px solid red;
}

input.valid, textarea.valid{
	border: 4px solid green;
}

input:on

.focusField { 
        border:solid 2px #73A6FF;
        background:#EFF5FF;
        color:#000;
    }


.focusField {
    border:solid 2px #73A6FF;
    background:#EFF5FF;
    color:#000;
    }


