.inputlabel
{
	border-radius:9px;
	border:3px solid #C2C2C2;
	width:395px;
	font-weight: bold;
		font-size:23px;
		color:gray;
	height:84px;
	

}
.addinput
{
	border-radius:9px;
	border:3px solid #C2C2C2;
	width:395px;
	font-weight: bold;
		font-size:23px;
		color:gray;
	height:84px;

	margin-top: 24px;
	margin-bottom:10px;

}
