.sectionmenu {
 	font-family:"Lato";
    font-size:16px;
}

ul {
     list-style: none;
}

li a {
	color: #7E7E7E;
	text-decoration: none;
	line-height: 45px;
}

li a:nth-child(5) {
	border-left:2px solid #336598;
}

li a:hover {
 	border-left: 2px solid #336598;
  
}

.logosx {
	border: 1px solid gray;
}


