<!DOCTYPE html>

<html class="no-js" lang="en">

<head>
<div class ="alignment"> 
<img src= "assets/images/mobmenu.png" class = "assistlogo"> </div>
<div class = "alignlogo">
<a href="register.html"><img src= "assets/images/logo.png" class="addlogo"></a> </div>
  <meta charset="utf-8" />
  <meta http-equiv="x-ua-compatible" content="ie=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1"> 

  
  <title>People @ASSIST</title>

  <link href='https://fonts.googleapis.com/css?family=Lato:400,300,300italic,400italic,700,700italic' rel='stylesheet' type='text/css'>

  <link rel="stylesheet" href="{{root}}assets/css/app.css">
 

</head>

<body>

  <div class = "menu">
  <div class="imgmenu">

  </div>
  </div>


  <main class="page-content">
    {{> body}}
  </main><!-- /page content -->





  <script src="{{root}}assets/js/app.js"></script>

</body>


<footer>

<p class="copyright">  Copyright 2016. The Archers</p></div>
</footer>
</html>
