// REGISTER
html{
    position: relative;

    min-height: 100%;
}

body{
    margin: 0 0 100px; /* bottom = footer height */
}

body{
    position: relative;

    margin: 0;
    padding: 0;
}



.button--state-success{
    margin-top: 34px;
    margin-bottom: 35px;

    text-align: center;

    border-radius: 9px;
}

.addbtn{
    margin-top: 48px;
    margin-bottom: 145px;
}

.btn{
    display: inline-block;

    padding: 15px 32px;

    text-align: center;
}

.menu{
    position: fixed;

    margin-top: -20px;
    margin-left: -2px;
}

.mlabel{
    display: inline-block;

    margin-bottom: 10px;
    padding-right: 15px;
    padding-left: 15px;

    vertical-align: bottom;
}


.registerimg{
    position: fixed;
    z-index: -1;
    top: 0;
    left: 0;
}


.alignment{
    padding-top: 23px;
    padding-left: 23px;

    text-align: left;
}


table {
    display: block;
    overflow:auto;

    width: 900px;
    height: 780px;
    margin: 0 auto;
    margin-top: 123px;
    margin-bottom: 173px;
}

tr {
    text-align: center;
}


th {
    text-align: center;
}


.menu {
    position: fixed;

    margin-top: -20px;
    margin-left: -2px;
}

footer {
    position: fixed;
}

.container-table {
    display: block;
}

.copyright {
    margin-top: 18px;

    text-align: center;
}



// PAGES DESIGN


// REGISTER PAGE


.page-register .card {
    margin-top: 120px;
}


.form__button {
    display: block;

    margin-top: 60px;
}


td:first-child {
    padding-left: 74px;
}

td:nth-child(2) {
    padding-left: 127px;
}

td:nth-child(3) {
    padding-left: 111px;

    text-align: justify;
}


th {
    text-align: justify;
}


th:first-child {
    padding-left: 113px;
}
th:nth-child(2) {
    padding-left: 175px;
}


th:nth-child(3) {
    padding-left: 212px;
}
